[Desktop Entry]
Encoding=UTF-8
Name=tomtom
Comment=tomtom P2P Cryptocurrency
Comment[fr]=tomtom, monnaie virtuelle cryptographique pair à pair
Comment[tr]=tomtom, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/tomtom-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/tomtom;
Categories=Office;
